* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(70, 70, 70);
}
.social button {
    color: rgb(255, 255, 255);
}
.social button {
    margin: 2px;
    border: none;
    float: right;
}
#sub {
    padding: 10px;
    background-color: rgb(255, 0, 0);
    cursor: pointer;
    border: 0px;
}
#sub:hover {
    background-color: rgb(104, 0, 0);
}
#tweet {
    background-color: rgb(0, 179, 179);
    cursor: pointer;
    border: 0px;
}
#tweet:hover {
    background-color: rgb(0, 87, 87);
}
#dis {
    padding: 10px;
    background-color: rgb(62, 62, 167);
    cursor: pointer;
    border: 0px;
}
#dis:hover {
    background-color: rgb(25, 25, 54);
}
#xt {
    margin: 2px;
    float: left;
    cursor: default;
    font-family: Arial, sans-serif;
    font-size: 50px;
    color: rgb(214, 139, 0);
}
#xt:hover {
    color: rgb(255, 230, 0);
}