body {
    margin: 0px;
    background-image: url('https://preview.redd.it/52f61nfzmwl51.jpg?auto=webp&s=ea0d396990fbdffe68c214d263810737f9faac6f');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} 
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #ffe77c;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(197, 95, 0);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(148, 71, 0);
}
.searchbar button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    background: rgb(255, 145, 0);
    font-size: 17px;
    border: none;
    padding-right: 7px; 
    padding-left: 7px;
    margin-right: 8px;
    cursor: pointer;
    transition: background-color 1s;
}
.searchbar button:hover {
    background-color: rgb(139, 67, 0);
}
#searchbox {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    font-size: 17px;
    text-align: right;
}
.social button {
    font-family: Verdana;
    font-size: 20px;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;

}
.social button {
    margin-top: 8px;
    border: none;
    transition: background-color 1s;
    float: left;
}
#sub {
    padding: 10px 10px;
    background-color: rgb(255, 0, 0);
    cursor: pointer;
    border-radius: 0px;
    margin-left: 8px;
}
#sub:hover {
    background-color: rgb(109, 3, 3);
}
#tweet {
    padding: 10px 10px;
    background-color: rgb(0, 169, 211);
    cursor: pointer;
    border-radius: 0px;
}
#tweet:hover {
    background-color: rgb(1, 37, 136);
}
#dis {
    padding: 10px 10px;
    background-color: rgb(70, 73, 78);
    cursor: pointer;
    border-radius: 0px;
}
#dis:hover {
    background-color: rgb(19, 19, 19);
}
#xt {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    position: absolute;
    top: -5%;
    right: 40%;
    cursor: default;
    font-family: 'Arial', sans-serif;
    font-size: 50px;
    color: rgb(214, 139, 0);
    text-shadow: 2px 5px 10px #eeff00;
    transition: text-shadow 1s;
}
#xt:hover {
    text-shadow: 2px 5px 10px #f50000;
}
