@import url('https://fonts.google.com/specimen/Bungee+Spice?preview.text=Xtreme%20MC&preview.size=100&preview.text_type=custom&coloronly=true');
body {
    margin: 0px;
    background-image: url('!background.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} 
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #ffe77c;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(197, 95, 0);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(148, 71, 0);
}