::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #ffe77c;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(197, 95, 0);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(148, 71, 0);
}
.twitter-tweet {
    position: absolute;
    top: 300px;
    right: 512px;
}
.spotify {
    position: absolute;
    top: 700px;
    right: 512px;
}